@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-mist text-ink antialiased;
}

a:hover > span:first-child {
  opacity: 1;
}
